<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.android.barracuda">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" />

  <uses-permission android:name="android.permission.RECORD_AUDIO" />


  <uses-feature
    android:name="android.hardware.microphone"
    android:required="false"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>


  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:fullBackupContent="@xml/backup_descriptor">

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/api_key_google_places" />
    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />

    <meta-data android:name="com.facebook.accountkit.ApplicationName"
      android:value="@string/app_name" />
    <meta-data android:name="com.facebook.sdk.ApplicationId"
      android:value="@string/FACEBOOK_APP_ID" />
    <meta-data android:name="com.facebook.accountkit.ClientToken"
      android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

    <activity
      android:name="com.facebook.accountkit.ui.AccountKitActivity" />
    <activity
      android:name="com.android.barracuda.MainActivity"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.android.barracuda.ui.ChatActivity"
      android:screenOrientation="portrait"
      android:parentActivityName="com.android.barracuda.MainActivity"/>

    <activity
      android:name="com.android.barracuda.ui.CallActivity"
      android:screenOrientation="portrait"
      android:parentActivityName="com.android.barracuda.MainActivity"/>


    <activity android:name="com.android.barracuda.ui.AddGroupActivity"
      android:theme="@style/MyThemeNoActionbar"/>




    <activity android:name="com.android.barracuda.ui.CallScreenActivity"
      android:theme="@style/MyThemeNoActionbar"/>
    <activity android:name="com.android.barracuda.ui.IncomingCallScreenActivity"
      android:theme="@style/MyThemeNoActionbar"/>



    <service android:name="com.android.barracuda.service.FriendChatService"
      android:exported="false"
      android:persistent= "true" />
    <service android:name=".service.BFirebaseInstanceIDService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>
    <service android:name=".service.BFirebaseMessagingService">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
      </intent-filter>
    </service>


    <service android:name=".service.SinchService"></service>
  </application>

</manifest>